* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

#grid {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  flex-wrap: wrap;
}

#grid div {
  width: 10%;
  height: 5%;
  border: 1px solid black;
  /* background-color: #F1FDDF; */
}

.i {
  background-color: turquoise;
}

.t {
  background-color: purple;
}

.o {
  background-color: yellow;
}

.j {
  background-color: blue;
}

.j-reverse {
  background-color: orange;
}

.s {
  background-color: green;
}

.s-reverse {
  background-color: red;
}

.dead {
  background-color: black;
}

