* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  /* background-image: url(./images/yellow.jpeg); */
  /* background-color: black; */
}

#grid {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  flex-wrap: wrap;
  background-color: #F1FDDF;
}

#grid div {
  width: 10%;
  height: 5%;
  border: 1px solid black;
}

.i {
  /* background-image: url(./images/blue.png); */
  background-color: turquoise;
}

.t {
  /* background-image: url(./images/red.png); */
  background-color: purple;
}

.o {
  /* background-image: url(./images/red.jpeg); */
  background-color: yellow;
}

.j {
  /* background-image: ; */
  background-color: blue;
}

.j-reverse {
  background-color: orange;
}

.s {
  background-color: green;
}

.s-reverse {
  background-color: red;
}

.dead {
  background-color: black;
}

