@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(./images/astronaut-walking-dog-in-a-space-suit-pop-art-retro-vector-illustration-kitsch-vintage-drawing.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right bottom;
  font-family: 'Press Start 2P', cursive;
  vertical-align: center;
}

header {
  padding: 40px 0px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #619BA8ff;
  border-radius: 10px;
  font-size: 40px;
  color: white;
  /* border: 2px solid black; */

}

#grid {
  min-width: 300px;
  height: 600px;
  display: flex;
  flex-direction: row;
  border: 10px solid #619BA8ff;
  border-radius: 10px;
  /* border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
  flex-wrap: wrap;
  background-color: white;
}

#grid div {
  height: calc(100% / 20);
  width: calc(100% / 10);
  border-radius: 3px;
}

#right-page {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
}

#next-shape {
  display: flex;
  width: 200px;
  height: 180px;
  flex-direction: row;
  border: 5px solid #E76C1Eff;
  border-radius: 10px;
  flex-wrap: wrap;
  background-color: white;
  margin: 20px;
  align-items: center;
  padding: 0px 38px;
}

#next-shape div {
  height: calc(100% / 6);
  width: calc(100% / 4);
  border-radius: 3px;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #E76C1Eff;
  border: 2px solid #7B113A;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

#left-page {
  align-self: center;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
  
#right-side {
  align-content: center;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-block;
  justify-content: flex-end;
  width: 200px;
  height: 70px;
  border: 2px solid #7B113A;
  border-radius: 20px;
  color: white;
  background-color: #E76C1Eff;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  font-family: 'Press Start 2P', cursive;
}

h6 {
  font-size: 30px;
  text-align: center;
  margin: 50px 40px 20px 20px;
}

#instructions p {
  font-size: 20px;
}

span {
  font-weight: bold;
}

section.level, section.lines, section.score {
  border: 2px solid #7B113A;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}

p.level, p.lines, p.score {
  color: white;
  text-align: center;
}

.i {
  background-color: #126E82;
  border: 2px solid #51C4D3;
}

.t {
  background-color: #522E71;
  border: 2px solid #A799B7;
}

.o {
  background-color: #FFE268;
  border: 1px solid #FFB037;
}

.j {
  background-color: #0d335d;
  border: 1px solid #1a508b;
}

.j-reverse {
  background-color: #FF6701;
  border: 2px solid #FEA82F;
}

.s {
  background-color: #1e6f5c;
  border: 1px solid #289672;
}

.s-reverse {
  background-color: #926E6F;
  border: 2px solid #CA8A8B;
}

.dead {
  background-color: black;
  border: 0px solid black;
  border-radius: 0px;
}