@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  align-items: center;
  background-color: #03070A;
  display: flex;
  flex-direction: column;
}

img {
  width: 60%;
}

#row1, #row2, #row3, #row4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
}

.buttons {
  padding: 5px;
  width: 100%;
}

button {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.song {
  padding-top: 20px;
  width: 75%;
  margin: auto auto;
  align-items: center;
  height: 40px;
}

#start, #loop, #stop {
  margin-bottom: 5px;
}

#stop {
  margin-bottom: 25px;
}

.display {
  padding: 20px;
  border-radius: 50px;
  background-color: white;
  width: 60%;
  margin: auto auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#lyrics {
  margin: 10px;
}

.off {
  background-color: #03070A;
}

.lightup {
  font-weight: bold;
  background-color: #03070A;
  color: white;
  border: 2px solid #6EB3B8;
  border-radius: 5px;
}