@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

#main-board {
  border: 2px solid #2C2728;
  text-align: center;
  width: 75%;
  margin: auto auto;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

#progress-target {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#progress-bar-border {
  border: 2px solid #2C2728;
  height: 10px;
  flex: 3;
  border-radius: 10px;
  margin-left: 75px;
  margin-right: 75px;
  justify-content: center;
}

/* ! Here, I couldn't get to adjust the border radius of only right-top and right bottom parts of the element. How come? */
/* ! Also, it looks like the progress-bar-background layer in front of the progress-bar-border. Is this right? If so, how can I make it otherwise? */
#progress-bar-background {
  position: relative;
  height: inherit;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 0%;
  background-color: grey;
  z-index: -1;
}

/* ! Here, I couldn't get the borders of the div to fit the content (which would be a nice feature for responsiveness). I don't understand what's missing. Please, could you help? */
/* ! Also, going for each individual padding side works but when going for padding: 10px auto; it doesn't work. How come? */
#target {
  border: 2px solid #2C2728;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

h2, #target-amount {
  display: flex;
  flex-direction: column;
  margin: auto 10px;
}

#remaining {
  padding-top: 10px;
}

h1 {
  font-size: 30px;
}

h2{
  font-size: 15px;
}

#target-amount {
  font-size: 20px;
  font-weight: bold;
}