* {
  box-sizing: border-box;
}

body {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
}

.grid div {
  width: 10%;
  height: 10%;
  border: 1px solid green;
}

.harry {
  background-image: url('https://i.pinimg.com/474x/6d/f4/51/6df4519f2c0380c5acc377b5a2190885.jpg');
  background-size: contain;
}