html, body {
  height: 100vh;
}

body {
  /* * Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #08080a;
  font-family: 'Exo 2', sans-serif;
}

#soundboard {
  /* * Flex */
  display: flex;
  flex-wrap: wrap;

  width: 500px;
  height: 500px;
  border: 2px solid #222;
}

#soundboard button {
  /* * Flex */
  width: 25%;
  height: 25%;

  color: #ea422c;
  text-decoration: none;
  font-weight: 200;
  font-size: 1.2em;
  font-weight: bold;
  border: 2px solid #222;
  background-color: black;
}

/* * Styling related things.. */

img {
  margin-bottom: 20px;
}

h1 {
  color: white;
  text-indent: -9999px;
  font-weight: 600;
  font-size: 2.5em;
  background: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: top center;
  line-height: 150px;
}

h5 {
  color: white;
  font-weight: lighter;
  text-align: right;
  padding-right: 3px;
}

#soundboard button:hover {
  background: url('../images/head.gif') no-repeat;
  background-size: 200px 140px;
  background-position: -45px;
  color: white !important;
  text-shadow: 0 2px #000;
  border: 2px solid rgb(235,196,55);
}

/* * I've copied the above code into a class so I can use it in js */
.active {
  background: url('../images/head.gif') no-repeat;
  background-size: 200px 140px;
  background-position: -45px;
  color: white !important;
  text-shadow: 0 2px #000;
  border: 2px solid rgb(235,196,55);
}


/* * Below is being a bit fancy with the colours.. */
/*row1*/
#soundboard button:nth-child(-n+4){
  color: rgba(234, 66, 44, 0.5);
}

/*row2*/
#soundboard button:nth-child(n+5):nth-child(-n+8) {
  color: rgba(242,239,174,0.5);
}

/*row3*/
#soundboard button:nth-child(n+9):nth-child(-n+12) {
  color: rgba(236,196,0,0.5);
}

/*row3*/
#soundboard button:nth-child(n+13):nth-child(-n+16) {
  color: rgba(192,0,0,0.5);
}

/* Play button */
#play-button {
  margin-top: 30px;
  padding: 20px;
  background: linear-gradient(red, #9198e5);
  border: 5px solid greenyellow;
  font-weight: bold;
  font-size: 20px
}